Assignment Week-1

In [2]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

In [3]:
#Ans1-
v="Ashutosh",[1,2,3,4,5],678.987,(1,2,3,4,5)
print(v)

('Ashutosh', [1, 2, 3, 4, 5], 678.987, (1, 2, 3, 4, 5))

In [4]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.

In [5]:
#Ans2-
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [6]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

In [1]:
# Ans3-(i) /
a=10/5
print(a)
# (ii) %
b=7%2
print(b)
# (iii) //
c=55//13
print(c)
# (iv) **
d=2**3
print(d)

2.0
1
4
8

In [9]:
# Q4.Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

In [10]:
#Ans4-
l=[2,3,4,5,"Ashu",87.98,True,False,6,7]
for i in l:
    print(i)
    print(type(i))

2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
Ashu
<class 'str'>
87.98
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>
6
<class 'int'>
7
<class 'int'>

In [ ]:
# Q5.Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

In [5]:
#Ans5-
A=int(input("A:"))
B=int(input("B:"))
count=0
while A>=B and A%B==0:
    count+=1
    A//=B
print(count,"times A is purely divisible by number B")

A: 90
B: 3

2 times A is purely divisible by number B

In [1]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

In [2]:
#Ans-
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if(i%3==0):
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [3]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

In [4]:
#Ans-
# Mutable-We can update and reassign the value in Mutable 
# Imutable-We cannot update and reassign the value in Imutable

#Mutable
l=[2,3,4,5,"Ashu",78.99]
print(l)

[2, 3, 4, 5, 'Ashu', 78.99]

In [5]:
l[4]="Khushi"
l

[2, 3, 4, 5, 'Khushi', 78.99]

In [6]:
#Imutable
s="Ashu"
s

'Ashu'

In [7]:
s[1]='a'

TypeError: 'str' object does not support item assignment

In [10]:
#It shows error because string is imutable and in imutable we cannot update and reassign the value.